<h3 class="heading">
	Listado de Usuarios
</h3>
	

<table class="table table-striped table-bordered mediaTable">
	<thead>
		<tr>
			<th class="essential persist">Correo Electronico</th>
			<th class="essential persist">Tipo de Usuario</th>
			<% if current_user.level== "administrador"%>
				<th class="essential">Accion</th>
			<%end %>	
		</tr>
	</thead>
	<tbody>
		<% @users.each do |s| %>
			<tr>
				<td><%=s.email%></td>
				<td><%=s.level%></td>
				<% if not current_user.id==s.id %>
					<% if current_user.level== "administrador"%>
						<td>
							<%= link_to "Borrar", s, method: :delete, data: { confirm: "Está seguro que desea borrarlo?" } %>
						</td>
					<%end %>
				<% end %>
			</tr>
		<% end %>	
	</tbody>
</table>


<%= link_to "Nuevo Usuario", new_user_path %>