<h3 class="heading">
	Listado de Pacientes
</h3>
	

<table class="table table-striped table-bordered mediaTable">
	<thead>
		<tr>
			<th class="essential persist">Nombre </th>
			<th class="essential persist">Telefono</th>
			<th class="essential persist">Correo Electronico</th>
			<th class="essential">Accion</th>
		</tr>
	</thead>
	<tbody>
		<% @patients.each do |p| %>
			<tr>
				<td><%= link_to p.name, p %></td>
				<td><%= p.phone %></td>
				<td><%= p.email %></td>						
				<td>
					<a href="#" title="Edit"><i class="splashy-document_letter_edit"></i></a>
					<a href="#" title="Accept"><i class="splashy-document_letter_okay"></i></a>
					<a href="#" title="Remove"><i class="splashy-document_letter_remove"></i></a>
				</td>
			</tr>
		<% end %>		
	</tbody>
</table>

<%= link_to "Agregar Paciente", new_patient_path %>